
<h1>Character Info </h1>
<h3>Character Attributes</h3>
<p>Name: <span><%= @character.name %></span></p>
<p>Constitution: <span><%= @character.constitution %></span></p>
<p>Health: <span><%= @character.health %></span></p>
<p>Damage: <span><%= @character.damage %></span></p>



<h3>Extra Features</h3>
<p>Mount: <span><%= @character.mount.name %></span></p>
